{% for itf, attribs in interfaces.items() %}
interface[name={{ itf }}]
    admin-state: enable
    {% if attribs.subinterfaces is defined %}
    {% for subitf in attribs.subinterfaces %}
    subinterface:
      index {{ loop.index }}
      admin-state: enable
      ipv4:
        address:
        - ip-prefix: {{ subitf.ipv4_prefix }}
    {% endfor %}
    {% endif %}
{% endfor %}

