{% if network_instance is defined %}
{% for ni, ni_spec in network_instance.items() %}
- network-instance[name={{ ni }}]:
    admin-state: enable
    interface:
    {% for itf in ni_spec.interfaces %}
    - name: {{ itf }}
    {% endfor %}
    protocols:
      bgp:
        autonomous-system: {{ ni_spec.protocols.bgp.as }}
        router-id: {{ ni_spec.protocols.bgp.router_id }}
        group:
        {% for group, group_spec in ni_spec.protocols.bgp.group.items() %}
        - group-name: {{ group }}
          {% if group_spec.peer_as is defined %}
          peer-as: {{ group_spec.peer_as }}
          {% endif %}
          export-policy: {{ group_spec.export_policy }}
          import-policy: {{ group_spec.import_policy }}
          {% if group_spec.description is defined %}
          description: {{ group_spec.description }}
          {% endif %}
          ipv4-unicast: 
            admin-state: enable
        {% endfor %}
        neighbor:
        {% for nbr, nbr_spec in ni_spec.protocols.bgp.neighbor.items() %}
        - peer-address: {{ nbr }}
          {% if nbr_spec.peer_as is defined %}
          peer-as: {{ nbr_spec.peer_as }}
          {% endif %}
          peer-group: {{ nbr_spec.peer_group }}
        {% endfor %}
{% endfor %}
{% endif %}
