{% if interfaces is defined %}
{% for itf in interfaces %}
- interface[name={{ itf.name }}]:
    admin-state: {{ itf.admin_state|default("enable") }}
    {% if itf.subinterface is defined %}
    subinterface:
      {% for subitf in itf.subinterface %}
      - index: {{ loop.index - 1}}
        admin-state: {{subitf.admin_state|default("enable")}}
        {% if subitf.ipv4_address is defined %}
        ipv4:
          address:
          - ip-prefix: {{subitf.ipv4_address}}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endfor %}
{% endif %}
