name: ci
on: [ pull_request]
jobs:
  linters:
    name: linters
    strategy:
      matrix:
        python-version: [3.9 ]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
        - uses: actions/checkout@v2
        - name: Setup Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install uv
          run: curl -LsSf https://astral.sh/uv/install.sh | sh
        - name: Install dependencies
          run: |
            uv pip install .[dev]
        - name: Run tests
          run: |
            make tests
